# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vscode/launch.json
.vs/DesignPatterns/project-colors.json
.vs/DesignPatterns/DesignTimeBuild/.dtbcache.v2
.vs/DesignPatterns/v17/.futdcache.v1
.vs/DesignPatterns/v17/.suo
